@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">My Awesome Home Page</h1>
    <h2>@ViewData["Greeting"]</h2>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">This is my very first ASP.NET MVC application!</a></p>
</div>
